/***********
 * Sidebar *
 ***********/

.sidebar {
    -GtkTreeView-horizontal-separator: 2px;
    -GtkTreeView-vertical-separator: 2px;
}

.sidebar,
.sidebar.view, 
.sidebar .view,
.sidebar .view:prelight {
	border-radius: 0px;
	/*background-color: @deuette_sidebar_bg;*/
	background-image: -gtk-gradient(linear, left top, right top,from(#d2d9e1),
                                    color-stop(0.50, @deuette_sidebar_bg),
                                    to(@deuette_sidebar_bg));/* @deuette_sidebar_bg;*/
	color:@deuette_sidebar_fg;
	text-shadow: 0 1 shade (@sidebar_background, 1.05);
}

.sidebar .pane-separator,
.pane-separator {
	background-color: #BDBDBD;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #BDBDBD;
	background-image: -gtk-gradient (linear,left top,left bottom,
                    from (@bg_color), to (@bg_color));;

	-unico-border-color: @selected_bg_color;
  -unico-border-width: 0;
}

.sidebar.view:selected,
.sidebar.view *:selected,
.sidebar .view:selected,
.sidebar .view *:selected,
.sidebar .view:selected:prelight {
    border-style: solid;
    border-width: 0px;
    border-color: shade (@sidebar_selected_bg, 1.20) #bbb shade (@sidebar_selected_bg, 0.85);

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade(@sidebar_selected_bg, 1.30)),
                    to (shade(@sidebar_selected_bg, 1.00)));
    color: #ffffff;    
    text-shadow: 1 2 shade (@sidebar_selected_bg, 0.9);
}

.sidebar .radio,
.sidebar .radio:focused,
.sidebar .radio:selected {
    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);
}

GtkHCollapsablePaned,
SourceList.pane-separator {
    border-width: 0px;
    -GtkPaned-handle-size: 1px;
}

GtkHCollapsablePaned.pane-separator,
GtkHCollapsablePaned.pane-separator:prelight,
GtkHCollapsablePaned.pane-separator:selected {
    background-image: 	none;
    background-color: 	@sidebar_background;
    border-width: 0px 0px 0px 0px;
    border-style: 		solid;
    border-color: 		shade (@button_border, 0.90);

}

